.btn-chart
    font-size: 1.5em
    transition: 0.5s all 
    color: red
    &:hover
        color: blue
        background: #c2c2c27c
.card
    transition: 0.7s all
    background: #c2c2c27c
    &:hover
        scale: 1.1
        background-color: white
        border: none
        
.stock-price
    font-size: 1.5em
    &::after
        content: '€'