.btn-chart
    font-size: 1.5em
    transition: 0.5s all 
    color: red
    &:hover
        color: blue
        background: #c2c2c27c
.card
    transition: 0.7s all
    background: #c2c2c27c
    &:hover
        scale: 1.1
        background-color: white
        border: none
#settingsButton
    position: fixed
    bottom: 30px
    right: 30px 
    padding: 15px
    border: 3px solid black
    border-radius:  100%
    cursor: pointer
    &:hover
        color: white
        background: rgba(10,10 ,10 ,0.8)
.stock-price
    font-size: 1.5em
    &::after
        content: '€'