@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap')
.btn-chart
    font-size: 1.5em
    transition: 0.5s all 
    color: transparent
    
    &:hover
        color: green !important
        scale: 1.1
.btn-chart-current
    font-size: 1.5em
    transition: 0.5s all
    color: transparent
    &:hover
        color: green !important
        scale: 1.1
.card-container
    display: flex
    align-items: center
    justify-content: center
.card
    transition: 0.7s all
    background: inherit
    color: white
    height: 100%
    border: none
    &:hover
        opacity: 1
        scale: 1.005
        background-color: white
        color: black
        border: none
        .card-img-top
            animation: unfocus 2s ease infinite
            filter: none
        .btn-chart
            color: red
            animation: bigsmall 2s ease infinite
        .btn-chart-current
            color: blue
            animation: bigsmall 2s ease infinite
.card-body
    display: flex
    flex-direction: column

#settingsButton
    position: fixed
    color: black
    background: #69bdf5
    bottom: 30px
    right: 30px 
    padding: 15px
    border: 3px solid #303030
    border-radius:  100%
    cursor: pointer
    &:hover
        color: white
        background: #474747
#timer
    position: fixed
    color: green
    font-weight: 800
    padding: 15px
    right: 30px
    bottom: 100px
    border: 3px solid green
    border-radius: 100%
.stock-price
    font-size: 2em
    font-family: 'Montserrat', sans-serif
.configLogo
    margin: 5px
    cursor: pointer
#targetImagenes
    margin: 1em
    overflow-y: scroll
    overflow-x: hidden
    height: 300px
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
        display: none
.selectBox
    margin-top: 1em
    margin-bottom: 1em
    padding: 1em
#unselectedStocks
    border-right: 1px solid black
    background-color: #b45d5d80
#selectedStocks
    border-left: 1px solid black
    background-color: #64b45d80
.navbar
    font-family: 'Montserrat', sans-serif
    text-decoration: none
    font-size: 1.2em
    a
        color: inherit     
body
    background: linear-gradient(-45deg, #141414, #000000, #222f33, #041d17)
    background-size: 400% 400%
    animation: gradient 8s ease infinite
[id^="price-"]
    transition: all 0.5s ease-in-out 
@keyframes gradient
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

@keyframes unfocus
    0%
        filter: none
    25%
        filter: blur(1px)
    50%
        filter: blur(2px)
    75%
        filter: blur(1px)
    100%
        filter: none
@keyframes bigsmall
    0%
        scale: 1
    50%
        scale: 1.1
    100%
        scale: 1